<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../public/footer.css">
    <link rel="stylesheet" href="../public/dropdownMenu.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="../script.js"></script>
    <!--Teste Diego Menu Hamburguer-->
    <!--Googlr Analytics-->
    <!--JavaScript-->
    <!--Facebook Pixel Code-->
    <!---->
    <title>Livraria do Martin</title>
    <title>Livraria do Martin</title>
    <title>Livraria do Martin</title>
    <!--PÁGINA HOME E DESTAQUES SÃO A MESMA PÁGINA-->
</head><!--teste git88888jkahskjdhajksd88888888-->
<body>
    <main>
        <header>
            <!-- HEADER BTN HELP -->
            <nav class="navegacao-central">
                <div class="header-help">
                    <div class="phone"><span>(19) 97409-7383</span>
                        <div class="btn-help">HELP
                            <!-- <a href="site.com.br">AJUDA</a> -->
                        </div>
                    </div>
                </div>
                <!-- HEADER MENU-->
                <div class="menu-search">
                    <!-- LOGO-->
                    <div id="logo">
                        <img src="./img/logosimples.png" alt="logo_livraria_do_martin">
                        <a href="site.com.br" title="Livraria_do_Martin"></a>
                    </div>
                    <!-- BTN BUSCA-->
                    <div id="search">
                        <input type="text" id="search-header" name="search" class="btn-busca"
                            placeholder="Digite aqui o seu produto..." />
                    </div>
                    <!-- LOGIN-->
                    <div id="login">
                        <div class="icon-user">
                            <img src="./img/user.png" alt="" sizes="" srcset="">
                        </div>
                    </div>
                    <div id="login-1">
                        <div id="login-text-1">
                            <span>LOGIN</span>
                        </div>
                        <div id="login-text-2">
                            <span>CRIAR CONTA</span>
                        </div>
                    </div>
                    <div id="login-2">
                        <div class="icon-sacola">
                            <img src="./img/sacola.png" alt="" sizes="" srcset="">
                        </div>
                    </div>
                </div>
                </div>
                <nav id="geral">
                    <div class="menu-esquerda">
                        <div id="menu-esquerda-text">

                        </div>
                    </div>
                    
                    <!-- MENU CENTRAL-->


                    <div class="menu-central">
                        <div id="menu-central-text">
                            <span>DESTAQUE</span>
                            <span>MAIS VENDIDOS</span>
                            <span>AUTORES</span>
                            <span>EDITORES</span>
                            <span>NOVIDADES</span>
                        </div>
                    </div>
                    <!-- REDE SOCIAL-->
                    <div class="social-media">
                        <div class="icon-menu-facebook">FACEBOOK</div>
                        <div class="icon-menu-facebook">INSTAGRAM</div>
                        <div class="icon-menu-facebook">TWITTER</div>
                    </div>
                </nav>
            </nav>
        </header>
        <script src="./script.js"></script>



        <!--Menu-DP-->

        <!-- BANNER-->
        <section>
            <div class="first-banner">
                <div class="banner" style="width: auto;">
                    <img src="../img/1210-1920x252-2 - cópia.jpg" alt="" sizes="" srcset="">
                </div>
            </div>
        </section>
        <section>
            <div class="box-home">
                Principais categorias
            </div>
        </section>
        <section>
            <div class="box-categoria">
                <!-- 01-->
                <div class="Promoção-01">
                    <div class="icon-box-categoria">
                        <img src="../img/sem-foto.jpeg" alt="" sizes="" srcset="">
                        <div class="text-box-categoria">
                            PROMOÇÃO
                        </div>
                        <!-- 02-->
                        <div class="Promoção-01"></div>
                        <div class="icon-box-categoria">
                            <img src="../img/sem-foto.jpeg" alt="" sizes="" srcset="">
                        </div>
                        <div class="text-box-categoria">
                            <span>RECOMENDAÇÕES</span>
                        </div>
                        <!-- 03-->
                        <div class="Promoção-01"></div>
                        <div class="icon-box-categoria">
                            <img src="../img/sem-foto.jpeg" alt="" sizes="" srcset="">
                        </div>
                        <div class="text-box-categoria">
                            <span>POLÍTICA</span>
                        </div>
                        <!-- 04-->
                        <div class="Promoção-01"></div>
                        <div class="icon-box-categoria">
                            <img src="../img/sem-foto.jpeg" alt="" sizes="" srcset="">
                        </div>
                        <div class="text-box-categoria">
                            <span>HISTÓRIA</span>
                        </div>
                        <!-- 05-->
                        <div class="Promoção-01"></div>
                        <div class="icon-box-categoria">
                            <img src="../img/sem-foto.jpeg" alt="" sizes="" srcset="">
                        </div>
                        <div class="text-box-categoria">
                            <span>LITERATURA</span>
                        </div>
                        <!-- 06-->
                        <div class="Promoção-01"></div>
                        <div class="icon-box-categoria">
                            <img src="../img/sem-foto.jpeg" alt="" sizes="" srcset="">
                        </div>
                        <div class="text-box-categoria">
                            <span>SOUVENIRS</span>
                        </div>
                        <!-- 07-->
                        <div class="Promoção-01"></div>
                        <div class="icon-box-categoria">
                            <img src="../img/sem-foto.jpeg" alt="" sizes="" srcset="">
                        </div>
                        <div class="text-box-categoria">
                            <span>PROGRAMAÇÃO</span>
                        </div>
                        <!-- 08-->
                        <div class="Promoção-01"></div>
                        <div class="icon-box-categoria">
                            <img src="../img/sem-foto.jpeg" alt="" sizes="" srcset="">
                        </div>
                        <div class="text-box-categoria">
                            <span>JOGOS</span>
                        </div>
                        <!-- 09-->
                        <div class="Promoção-01"></div>
                        <div class="icon-box-categoria">
                            <img src="../img/sem-foto.jpeg" alt="" sizes="" srcset="">
                        </div>
                        <div class="text-box-categoria">
                            <span>QUEBRA-CABEÇA</span>
                        </div>
                    </div>
                </div>
        </section>
        <section>
            <div class="box-home">
                Produtos em destaque
            </div>
            <div class="box-prod-home">
                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Johnny W. S.</ul>
                        <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                        <ul class="oferta">
                            R$ 290,00
                        </ul>
                        <ul class="sale">
                            R$ 199,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">DIEGO TENGAN</ul>
                        <ul class="titulo">MEUS 3 SAMURAIS</ul>
                        <ul class="oferta">
                            R$ 100,00
                        </ul>
                        <ul class="sale">
                            R$ 82,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-prod-home">
                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-prod-home">
                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <div class="box-prod">
                    <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                    <div class="descricao">
                        <ul class="autor">Gustavo Corção</ul>
                        <ul class="titulo">Dez anos: Crônicas</ul>
                        <ul class="oferta">
                            R$ 60,00
                        </ul>
                        <ul class="sale">
                            R$ 49,00
                        </ul>
                        <div class="button-buy">
                            <button class="buy">COMPRAR</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="line-promocao">
            <div class="menu-promo-01">+55 (19) 97409-7383</div>
            <div class="menu-promo-01">PARCELAMENTO EM ATÉ 6X</div>
            <div class="menu-promo-01">ENTREGAMOS EM TODO O BRASIL</div>
        </div>
        <!-- FOOTER DIEGO-->
        <footer>
            <div class="wrapper">
                <div class="footer-box0">
                    <div class="company-footer">
                        <img src="../img/logosimples.png">
                        <h2>ENDEREÇO</h2>
                        <p>Rua Carolina Pasquini Antoniolli, 204<br>
                            Barão Geraldo - Campinas/SP <br>
                            TEL (19) 978 282 778
                        </p>
                    </div>
                </div>
                <div class="footer-box1">
                    <div class="articles-footer">
                        <h2>MAPA DO SITE</h2>
                        <ul class="footer-list footer-article-list">
                            <li><a href="#">Destaques</a></li>
                            <li><a href="#">Mais vendidos</a></li>
                            <li><a href="#">Autores</a></li>
                            <li><a href="#">Editoras</a></li>
                            <li><a href="#">Novidades</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-box2">
                    <h2>INFORMAÇÕES</h2>
                    <ul class="footer-list">
                        <li><a href="#">Frete grátis</a></li>
                        <li><a href="#">Sobre a livraria</a></li>
                        <li><a href="#">Entregas e despacho</a></li>
                        <li><a href="#">Trocas e devoluções</a></li>
                        <li><a href="#">Termos de uso</a></li>
                    </ul>
                </div>
                <div class="footer-box3">
                    <h2>FALE CONOSCO</h2>
                    <ul class="footer-list">
                        <h5>(19) 974 183 218 Johnny</h5>
                        <h5>(19) 978 282 778 Diego</h5>
                        <li><a href="#">Trabalhe na nossa empresa!</a></li>
                    </ul>
                </div>
            </div>
            </div>
            <!--<div class="line-third">
<span></span>
</div>>-->
            <div class="line-third">
                <span>© Copyright 2022 Livraria do Martin S.A.</span>
            </div>
        </footer>
        <!--<div class="footer-bottom">
<div class="wrapper">
<p>© Copyright 2022 Livraria do Martin S.A.</p>
</div>
</div> -->
        </footer>
        </div>
    </main>
</body>

</html>