<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <!--Googlr Analytics-->
    <!--JavaScript-->
    <!--Facebook Pixel Code-->
    <!---->
    <title>Newsletter</title>
</head>

<body>
    <main>
        <header>
            <!-- HEADER BTN HELP -->
            <div class="header-help">
                <div class="phone"><span>(19) 97409-7383</span>
                    <div class="btn-help">HELP
                        <!-- <a href="site.com.br">AJUDA</a> -->
                    </div>
                </div>
            </div>
            <!-- HEADER MENU-->
            <div class="menu-search">
                <!-- LOGO-->
                <div id="logo">
                    <img src="./img/logosimples.png" alt="logo_livraria_do_martin">
                    <a href="site.com.br" title="Livraria_do_Martin"></a>
                </div>
                <!-- BTN BUSCA-->
                <div id="search">
                    <input type="text" id="search-header" name="search" class="btn-busca" placeholder="Buscar produto..." />
                </div>
                <!-- LOGIN-->
                <div id="login">
                    <div class="icon-user">
                        <img src="./img/user.png" alt="" sizes="" srcset="">
                    </div>
                </div>
                <div id="login-1">
                    <div id="login-text">
                        <span>LOGIN</span>
                        <div id="login-text">
                            <span>CRIAR CONTA</span>
                        </div>
                    </div>
                    <div id="login-2">
                        <div class="icon-sacola">
                            <img src="./img/sacola.png" alt="" sizes="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- MENU LATERAL-->
            <div class="menu-bar">
                <div class="icon-menu">
                    <img src="./img/menu.png" alt="" sizes="" srcset="">
                    <div id="menu-text"></div>
                    <span>CATEGORIA</span> <!-- criar uma class-->
                </div>
                <!-- MENU CENTRAL-->
                <div class="menu-central">
                    <div id="menu-central-text">
                        <span>DESTAQUE</span>
                        <span>MAIS VENDIDOS</span>
                        <span>AUTORES</span>
                        <span>EDITORES</span>
                        <span>NOVIDADES</span>
                    </div>
                </div>
                <!-- REDE SOCIAL-->
                <div class="social-media">
                    <div class="icon-menu-facebook">FACEBOOK</div>
                    <div class="icon-menu-facebook">INSTAGRAM</div>
                    <div class="icon-menu-facebook">TWITTER</div>
                </div>
        </header>
        <!-- MAIN-->
        <section>
            <div class="box-newsletter">
               <p class="titulo">Newsletter</p> 
                <div class="dados-newsletter">
                    <form>
                        <label>Insira seu e-mail para entrar na newsletter:</label><br><br>
                        <label for="email">E-mail</label>
                            <input type="email" name="email" id="email" class="input-email" required placeholder="seuemail@email.com.br"><br>
                            <input type="checkbox" name="partipar-news" id="partipar-news" required class="input-padrao">
                            <label>Aceito partipar da newsletter</label><br>
                            <button type="submit" class="btn-cadastrar">CADASTRAR</button>
                    </form>
                    <p></p>
                </div>
            </div>
        </section>
        <!-- FOOTER LINE 01-->
        <footer>
            <div class="line-first">
                <div class="icon-box-categoria">
                    <img src="./img/user.png" alt="" sizes="" srcset="">
                </div>
                <div class="text-box-footer">
                    <span>(19) 97409-7383 <br> (19) 97409-7383 </span>
                </div>

                <div class="icon-box-categoria">
                    <img src="./img/user.png" alt="" sizes="" srcset="">
                </div>
                <div class="text-box-footer">
                    <span>PARCELE EM ATÉ 4X NO CARTÃO</span>
                </div>

                <div class="icon-box-categoria">
                    <img src="./img/user.png" alt="" sizes="" srcset="">
                </div>
                <div class="text-box-footer">
                    <span>ENTREGAMOS EM TODO BRASIL</span>
                </div>
            </div>
            <!-- FOOTER LINE 02-->
            <div class="line-second">
                <div class="column-first">
                    <h4>MAPA DO SITE</h4>
                    <a href="">Destaque 01</a>
                    <a href="">Destaque 02</a>
                    <a href="">Destaque 03</a>
                    <a href="">Destaque 04</a>
                    <a href="">Destaque 05</a>
                    <a href="">Destaque 06</a>
                </div>
                <div class="column-second">
                    <h4>INFORMAÇÕES</h4>
                    <a href="">Destaque 01</a>
                    <a href="">Destaque 02</a>
                    <a href="">Destaque 03</a>
                    <a href="">Destaque 04</a>
                    <a href="">Destaque 05</a>
                    <a href="">Destaque 06</a>
                </div>
                <div class="column-third">
                    <h4>ENDEREÇO</h4>
                    <a href="">Destaque 01</a>
                    <a href="">Destaque 02</a>
                    <a href="">Destaque 03</a>
                    <h4>FALE CONOSCO</h4>
                    <a href="">Destaque 04</a>
                    <a href="">Destaque 05</a>
                    <a href="">Destaque 06</a>
                </div>
                <div class="column-pag">
                    <h4>FORMA DE PAGAMENTO</h4>
                    <a href="">Destaque 01</a>
                    <a href="">Destaque 02</a>
                    <a href="">Destaque 03</a>
                    <h4>Informações sobre pagamento</h4>
                    <a href="">Destaque 04</a>
                    <a href="">Destaque 05</a>
                    <a href="">Destaque 06</a>
                </div>
            </div>

            <!-- FOOTER LINE 03-->
            <div class="line-third">
                <span>todos os direitos reservados</span>
            </div>
        </footer>
    </main>
</body>

</html>