<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Descrição do produto</title>
</head>

<body>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/newsletter.css">
        <!--Googlr Analytics-->
        <!--JavaScript-->
        <!--Facebook Pixel Code-->
        <!---->
        <title>Newsletter</title>
    </head>

    <body>

        <header>
            <!-- HEADER BTN HELP -->
            <div class="header-help">
                <div class="phone"><span>(19) 97409-7383</span>
                    <div class="btn-help">HELP
                        <!-- <a href="site.com.br">AJUDA</a> -->
                    </div>
                </div>
            </div>
            <!-- HEADER MENU-->
            <div class="menu-search">
                <!-- LOGO-->
                <div id="logo">
                    <img src="../img/logosimples.png" alt="logo_livraria_do_martin">
                    <a href="site.com.br" title="Livraria_do_Martin"></a>
                </div>
                <!-- BTN BUSCA-->
                <div id="search">
                    <input type="text" id="search-header" name="search" class="btn-busca" placeholder="Buscar produto..." />
                </div>
                <!-- LOGIN-->
                <div id="login">
                    <div class="icon-user">
                        <img src="../img/user.png" alt="" sizes="" srcset="">
                    </div>
                </div>
                <div id="login-1">
                    <div id="login-text">
                        <span>LOGIN</span>
                        <div id="login-text">
                            <span>CRIAR CONTA</span>
                        </div>
                    </div>
                    <div id="login-2">
                        <div class="icon-sacola">
                            <img src="../img/sacola.png" alt="" sizes="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- MENU LATERAL-->
            <div class="menu-bar">
                <div class="icon-menu">
                    <img src="../img/menu.png" alt="" sizes="" srcset="">
                    <div id="menu-text"></div>
                    <span>CATEGORIA</span> <!-- criar uma class-->
                </div>
                <!-- MENU CENTRAL-->
                <div class="menu-central">
                    <div id="menu-central-text">
                        <span>DESTAQUE</span>
                        <span>MAIS VENDIDOS</span>
                        <span>AUTORES</span>
                        <span>EDITORES</span>
                        <span>NOVIDADES</span>
                    </div>
                </div>
                <!-- REDE SOCIAL-->
                <div class="social-media">
                    <div class="icon-menu-facebook">FACEBOOK</div>
                    <div class="icon-menu-facebook">INSTAGRAM</div>
                    <div class="icon-menu-facebook">TWITTER</div>
                </div>
        </header>
        <main>
            <!-- LINE 1 - HISTORICO DE NAVEGAÇÃO-->
            <section>
                <p class="historico">Destaque / Livro XXX</p>
            </section>

            <!-- LINE 2 - DESCRICAO PRODUTO-->
            <div class="description">
                <div class="photo-left">
                    <img class="left" src="../img/sem-foto.jpeg" alt="" srcset="">
                    <img class="left" src="../img/sem-foto.jpeg" alt="" srcset="">
                    <img class="left" src="../img/sem-foto.jpeg" alt="" srcset="">
                    <img class="left" src="../img/sem-foto.jpeg" alt="" srcset="">
                </div>
                <div class="photo-principal">
                    <img src="../img/sem-foto.jpeg" width="350vw;" alt="">
                </div>
                <div class="description-book">
                    <div class="author">
                        <h4>DIEGO TENGAN</h4>
                    </div>
                    <div class="produt-name">
                        <h2>MEUS 3 SAMURAIS</h2>
                    </div>
                    <!-- <div class="like">
                    <a title="Adicionar a lista de desejo">8888888</a> ADICIONAR DIV PARA CORAÇÃO DE LIKE
                </div>   -->
                    <div class="price-1">
                        <span class="price-old">De: R$100,00</span>
                        <span class="price-new">Por: R$82,80</span>
                        <br>
                    </div>
                    <div class="flag-desct">
                        <span>- -R$ 12,00 </span>
                    </div>

                    <div class="button-buy">
                        <button class="buy">COMPRAR</button>
                    </div>
                    <div class="button-buy">
                        <button class="buy">COMPRAR</button>
                        <button class="add-carrinho">ADICIONAR AO CARRINHO</button>
                    </div>
                    <div class="compartilhar">
                        <spam class="title-compartilhar">Compartilhar</spam>
                        <a class="facebook" target="_blank" href="">_</a>

                        <a class="twitter" target="_blank" href="">_</a>


                        <a class="instagram" target="_blank" href="">_</a>


                        <a class="gplus" target="_blank" href="">_</a>

                    </div>
                </div>

            </div>
            <!-- LINE 3 - DESCRICAO PRODUTO - 2-->
            <div class="details">
                <div class="details-description">
                    <div class="item-details">
                        <label>Páginas</label>
                        <span>450</span>
                    </div>
                    <div class="item-details">
                        <label>Idioma</label>
                        <span>Inglês</span>
                    </div>
                    <div class="item-details">
                        <label>ISBN</label>
                        <span>0000000000000</span>
                    </div>
                    <div class="item-details">
                        <label>Medidas</label>
                        <span>16 x 23 </span>
                    </div>
                    <div class="item-details">
                        <label>Editora</label>
                        <span>Interna </span>
                    </div>
                </div>
                <div class="sinopse">
                    <h4>
                        "Sinopse"
                        <span>HTML</span>
                    </h4>
                    <div class="resumo">
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim repellendus vitae aspernatur
                            magni voluptas voluptates, earum quibusdam quos facilis incidunt natus neque corporis
                            nesciunt sed odio quam consequuntur eum cumque!

                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione quas magni ipsa
                            nesciunt! Voluptates odit accusantium, sequi impedit laborum fugit itaque? Quasi modi, omnis
                            blanditiis facilis dolore ab debitis.
                        </p>
                        <p><br><br>
                            <strong> Sobre o autor</strong>
                        </p>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, ipsum error nobis in accusamus
                            voluptatibus hic officiis corporis explicabo doloremque necessitatibus inventore minus
                            aperiam laudantium, alias labore odio nihil fugit.
                        </p>
                        <br>
                        <br>
                        <br>
                        <b>Ficha Técnica</b>
                        <br>
                        "ISBN: 000000000000000"
                        <br>
                        Editora: Interna
                        <br>
                        Dimensão: 16 x 26 cm
                        <br>
                        Páginas: 600
                        <br>
                        Idioma: Inglês
                        <br>


                    </div>
                </div>
                <!-- LINE 4 - TALVEZ VOCÊ GOSTE-->

            </div>
            <div class="line-3" style="width: 1000px;">
                <div class="box-like">
                "Talvez você goste"
            </div>
            </div>

            <section>
                <div class="box-sugestao">
                    <div class="box-prod">
                        <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                        <div class="descricao">
                            <ul class="autor">Gustavo Corção</ul>
                            <ul class="titulo">Dez anos: Crônicas</ul>
                            <ul class="oferta">
                                R$ 60,00
                            </ul>
                            <ul class="sale">
                                R$ 49,00
                            </ul>
                            <div class="button-buy">
                                <button class="buy">COMPRAR</button>
                            </div>
                        </div>
                    </div>
                
                
                    <div class="box-prod">
                        <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                        <div class="descricao">
                            <ul class="autor">Gustavo Corção</ul>
                            <ul class="titulo">Dez anos: Crônicas</ul>
                            <ul class="oferta">
                                R$ 60,00
                            </ul>
                            <ul class="sale">
                                R$ 49,00
                            </ul>
                            <div class="button-buy">
                                <button class="buy">COMPRAR</button>
                            </div>
                        </div>
                    </div>
                
                
                    <div class="box-prod">
                        <img src="../prod/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                        <div class="descricao">
                            <ul class="autor">Gustavo Corção</ul>
                            <ul class="titulo">Dez anos: Crônicas</ul>
                            <ul class="oferta">
                                R$ 60,00
                            </ul>
                            <ul class="sale">
                                R$ 49,00
                            </ul>
                            <div class="button-buy">
                                <button class="buy">COMPRAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            </div>

        </main>
        <!-- FOOTER LINE 01-->
        <footer>
            <div class="wrapper">
            <div class="footer-box0">
            <div class="company-footer">
            <img src="../img/logosimples.png">
            <h2>ENDEREÇO</h2>
            <p>Rua Carolina Pasquini Antoniolli, 204<br>
            Barão Geraldo - Campinas/SP <br>
            TEL (19) 978 282 778
            </p>
            </div>
            </div>
            <div class="footer-box1">
            <div class="articles-footer">
            <h2>MAPA DO SITE</h2>
            <ul class="footer-list footer-article-list">
            <li><a href="#">Destaques</a></li>
            <li><a href="#">Mais vendidos</a></li>
            <li><a href="#">Autores</a></li>
            <li><a href="#">Editoras</a></li>
            <li><a href="#">Novidades</a></li>
            <li><a href="#">Newsletter</a></li>
            </ul>
            </div>
            </div>
            <div class="footer-box2">
            <h2>INFORMAÇÕES</h2>
            <ul class="footer-list">
            <li><a href="#">Frete grátis</a></li>
            <li><a href="#">Sobre a livraria</a></li>
            <li><a href="#">Entregas e despacho</a></li>
            <li><a href="#">Trocas e devoluções</a></li>
            <li><a href="#">Termos de uso</a></li>
            </ul>
            </div>
            <div class="footer-box3">
            <h2>FALE CONOSCO</h2>
            <ul class="footer-list">
            <h5>(19) 974 183 218 Johnny</h5>
            <h5>(19) 978 282 778 Diego</h5>
            <li><a href="#">Trabalhe na nossa empresa!</a></li>
            </ul>
            </div>
            </div>
            </div>
            <!--<div class="line-third">
            <span></span>
            </div>>-->
            <div class="line-third">
            <span>© Copyright 2022 Livraria do Martin S.A.</span>
            </div>
            </footer>
            <!--<div class="footer-bottom">
            <div class="wrapper">
            <p>© Copyright 2022 Livraria do Martin S.A.</p>
            </div>
            </div> -->
            </footer>
    </body>

    </html>

</body>

</html>