* {
    margin: 0;
}

header {
    background-color: #356859;
    width: 100vw;
}

body {
    height: 80vh;
}

footer {
    height: 20vh;
}

/* LINHA AJUDA AO CLINETE */

.header-help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
}

.phone {
    display: flex;
    color: #ffffff;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.btn-help {
    display: flex;
    background-color: #FD5523;
    color: #ffffff;
    border: 1px solid #356859;
    font-size: 18px;
    padding: 2px;
    align-content: center;
}

/* LOGO / SEARCH / LOGIN / CRIAR CONTA */

.menu-search {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    padding: 0 60px;
}

#logo {
    display: flex;
    height: 55px;
    width: 90px;
}

#search {
    display: flex;
    justify-content: center;
    width: 100%;
}

#login,
#login-1,
#login-2 {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#login-text,
#text-menu-bar,
#menu-text {
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.icon-user,
.icon-sacola,
.icon-menu {
    display: flex;
    width: 42px;
    height: 45px;
    gap: 10px;
}

.icon-user {
    width: 40px;
    height: 38px;
    padding: 3px;
}

/* MENU BAR*/

.menu-bar {
    display: flex;
    background-color: #37966F;
    color: #ffffff;
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
}

span {
    display: flex;
    align-items: center;
}

#menu-central-text {
    display: flex;
    font-size: 18px;
    gap: 50px
}

.social-media {
    display: flex;
    gap: 20px;
}

/* SECTION*/

section {
    background-color: #F5F4F4;
}

/* DESCRICAO PRODUTO*/

    /*-- LINE 1 - HISTORICO DE NAVEGAÇÃO*/

    .historico{
        text-align: left;
        margin: 10px 50px;
        font-size: 18px;
    }

    /*-- LINE 2 - DESCRICAO PRODUTO*/
    .description{
       border: lightcoral 4px solid;
        display: flex;
       justify-content: space-around;


    }
    .photo-left{
        display: flex;
        flex-direction: column;
        border: #FD5523 2px solid;


    }
    .left{
       
        width: 100px;
        height: 120px;
        border: black 3px solid;
    }

    .photo-principal{
       border: #23fd35 2px solid;
       display: flex;
       justify-content: center;
    }

    .description-book{
        font-size: 23px;
        border: black solid 5px;
        margin: 10px 40px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .author, .produt-name{
        text-align: left;
    }

    .author{
        color: #818181;
    }

    .price-1{
        padding-top: 20px;
        text-align: left;
    }

    .buy, .add-carrinho{

        border-radius: 15px;

    }

    .buy{
        background-color: #FD5523;
        color: white;
        font-size: 16px;
        line-height: 42px;
        width: 120px;
    }

    .add-carrinho{
        background-color: #356859;
        color: white;
        font-size: 16px;
        line-height: 42px;
        width: 400px;
    }

    .compartilhar{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* LINE 3 - DESCRICAO PRODUTO - 2 */

    .details{
        border: #23fd35 solid 3px;
    }
    
    .details-description{
        border: black 5px solid;
        display: flex;
        justify-content: space-between;
        
    }
    
    .item-details{
        border: 1px solid lightpink;
        padding: 2px 32px;
    }

    /*LINE 4 - SUGESTÃO DE LIVRO */

    .box-sugestao{
        border: yellowgreen 3px solid;
        background-color: white;
        display: flex;
        justify-content: center;
        padding: 40px 0px;

    }

    .box-prod{
        background-color: #F5F4F4;
        border: #FD5523 3px solid;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .box-like{
        font-size: 26px;
        margin: 0 50px;
        padding: 30px 0 ;

    }
        
/* CATEGORIA ENTREGAMOS/PARCELE/TELEFONE*/

.box-categoria {
    display: flex;
    border: 1px solid lightgrey;
    flex-direction: column;
    justify-content: space-around;
}

.icon-box-categoria {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding-bottom: 30px;
}

.text-box-categoria,
span {
    display: flex;
    align-items: center;
}

/* FOOTER */

.line-first {
    background-color: #F5F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.text-box-footer {
    font-size: 20px;

}

.line-second {
    background-color: #37966F;
    display: flex;
    justify-content: space-between;
    
}

.column-first,
.column-second,
.column-third,
.column-pag {
    border: yellow 3PX solid;
    flex-direction: column;
   
}

.line-third {
    background-color: #356859;
    display: flex;
    justify-content: center;
}